/* body{
    background:linear-gradient(to right, #7d3c91, #775292, #866092, #936f9e,#9b85a1 );
} */

.card {
    background-color: #b4dcdd;
    color: black;
    border: #5e02a8 solid 2px;
    border-right: 20px;
    /* margin: 5px 0; */
}

.display-today {
    border: white solid 2px;
    /* background-color: #0a557c; */
}
.colum5day {
    border: white solid 20px;
    /* background-color: #329dd6; */
}

.color{
    background-color: mediumorchid;
    padding-block: 20px;
    height: 300px;
    width: 300px;
}
  
.row{
    background-color: red;
}

/* .col{
      border:midnightblue solid 5px;
      
} */

.results{
      width: 50%;

}

/* img {
    max-width: 100%;
    height: auto;
} */

ul{
    list-style-type: none;
    
}

li{
    text-indent: -30px;
}