/* body{
    background:linear-gradient(to right, #7d3c91, #775292, #866092, #936f9e,#9b85a1 );
} */

.card {
    background-color: #b4dcdd;
    color: black;
    border: #1683a1 solid 5px;
}

/* .container {
    padding: 5rem;
} */

.display-today {
    border: white solid 2px;
    /* background-color: #0a557c; */
}
.display-5days {
    border: white solid 2px;
    /* background-color: #329dd6; */
}

/* .column {
    /* float: center; */
    /* width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    /* border: #1683a1 solid 5px;
}* */ 

/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

  .color{
      background-color: mediumorchid;
  }
  
  .row{
    background-color: red;
  }

  .col{
      border:midnightblue solid 5px;
  }