/* body{
    font-family:'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
} */

.card {
    background-color: #b4dcdd;
    color: black;
    border: #5e02a8 solid 2px;
    margin-right: 30px;
    background:linear-gradient(to right, #c15dfa , #c872fa , #cf84fa , #d592fc ,#d9a0fa );
}

.results{
    margin-left: 40px;
}

.display-today {
    border: white solid 2px;
    /* background-color: #0a557c; */
}

.colum5day {
    border: white solid 20px;
    /* background-color: #329dd6; */
}

.card-body{
    margin-left: 20px;
    margin-right: 40px;
    background:linear-gradient(to right, #68bcf5, #8dcdf8, #a2d5f7, #addcfc,#b6def8 );
    color: black;
    border: #5e02a8 solid 2px;
}

ul{
    list-style-type: none;
}

li{
    text-indent: -40px;
}

h4{
    margin-bottom: -10px;
    margin-top: -5px;
}

.badge{
    width: 50px;
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
}

.uvlight{
    display: inline-block;
}